# Database Configuration
DATABASE_URL=postgresql://postgres:Sr%40983683@156.67.104.74:5432/Masjiddesk

# Initial Admin Authentication Credentials
ADMIN_USERNAME=Admin
ADMIN_PASSWORD=Sr@983683

# Webhook Integration (Zoho Cliq or standard JSON webhook)
SIGNUP_WEBHOOK_URL=https://cliq.zoho.com/api/v2/channelsbyname/webhookmessage/message?zapikey=1001.1082b3c2c08375718988a789389d3023.f0cb869525a1dc04ecab779149be5af4
WEBHOOK_BOT_NAME=Majid_New_Member

# WhatsApp OTP Provider Configuration
OTP_PROVIDER=whatsapp
OTP_API_URL=https://waapi.buypapps.com/v1/message/send-message
OTP_API_KEY=6a936b34e8c1946bdb327d93a61dcfb5a8e18ad0d24a9c2ffc7668f129ed557d8eaac8b77b7e8d62b6ac1a15415a36a31a0ea4626e67e7d2748909b4eb5e0f94
OTP_TEMPLATE_NAME=buyp_play_zone

# Security Secrets
JWT_SECRET=masjid_management_system_super_secret_jwt_key_2026_buyp
JWT_EXPIRATION_MINUTES=1440

# Production Domain & Frontend API URL Configuration
DOMAIN_NAME=masjid.amandesk.com
VITE_API_BASE_URL=https://masjid.amandesk.com

